{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block banner %}
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h2>Login</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block content %}
    <div class="container mt-lg-4">
        <div class="col-lg-15 center-block">
            <div class="sidebar-item submit-comment">
                <div class="content">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                {{ form.password|as_crispy_field }}
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" id="form-submit" class="main-button">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="errorlist">
                        {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
