{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block banner %}
    <div class="heading-page header-text" style="
    flex: 1 0 auto;
">
        <section class="page-heading" style="margin: 0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4><a href="{% url 'edit_password' %}">Change profile password</a></h4>
                            <h2>Hello, {{ request.user.first_name }} {{ request.user.last_name }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-lg-4" style="flex: 1 0 auto">
        <div class="col-lg-15 center-block">
            <div class="sidebar-item submit-comment">
                <div class="content">
                    <h2 class="h2">Update Profile</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" id="form-submit" class="btn btn-outline-primary">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}