{% if page_obj.has_other_pages %}
    {% if request.path == '/search/' %}
        <div class="col-lg-12">
            <ul class="page-numbers">
                {% if page_obj.has_previous %}
                    <li><a href="?q={{ s }}&page={{ page_obj.previous_page_number }}"><i
                            class="fa fa-angle-double-left"></i></a>
                    </li>
                {% endif %}
                {% if page_obj.number > 3 %}
                    <li><a href="?q={{ s }}&page=1">1</a></li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="active"><a href="?q={{ s }}&page={{ p }}">{{ p }}</a></li>

                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li><a href="?q={{ s }}&page={{ p }}">{{ p }}</a></li>

                    {% endif %}
                {% endfor %}

                {% if page_obj.number < page_obj.paginator.num_pages|add:-2 and page_obj.paginator.num_pages > 3 %}
                    <li><a href="?q={{ s }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li><a href="?q={{ s }}&page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <div class="col-lg-12">
            <ul class="page-numbers">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                {% endif %}
                {% if page_obj.number > 3 %}
                    <li><a href="?page=1">1</a></li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>

                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li><a href="?page={{ p }}">{{ p }}</a></li>

                    {% endif %}
                {% endfor %}

                {% if page_obj.number < page_obj.paginator.num_pages|add:-3 and page_obj.paginator.num_pages > 3 %}
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endif %} 
